@import "tailwindcss";
@source "../components";

:root {
  --background-base: #171717; /* 기본 배경 - #000000 대용 검정색 */
  --background-surface: #262626; /* input 배경 등 보조색 */

  --text-primary: #ffffff; /* 기본 텍스트 - 흰색 */
  --text-secondary: #737373; /* 보조 텍스트 색상 - 테두리, 아이콘, 힌트 등 */
  --text-tertiary: #d4d4d4; /* 랜딩 페이지의 설명란 등 */
  --text-detail: #e5e5e5; /* 메인 페이지의 감독/출연진 소개 등 */

  --color-primary: #dc2626; /* 기본 붉은색 */
  --color-primary-hover: #fb2c36; /* hover 시 기본 색상 */
  --color-disabled: #737373; /* 동작하지 않음 표시 색상 (--text-secondary와 동일) */
  --color-star: #ffba00; /* 별점란 색상 */
  --color-success: #16a34a; /* 성공 표시 색상 */
  --color-error: #dc2626; /* 에러 표시 색상 */

  font-family: Arial, sans-serif; /* 임시 폰트 */
}

/* 로고 */
.header-logo {
  height: clamp(56px, 6vw, 96px);
  width: auto;
}
.header-logo-mobile {
  height: clamp(40px, 28vw, 64px);
  width: auto;
}

/* 회원가입, 로그인, 마이페이지 좌측 텍스트 설정 */
.heading-left-text {
  font-size: clamp(2.4rem, 3.2vw, 3.5rem);
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
.subtext-left-text {
  font-size: clamp(0.95rem, 1.2vw, 1.1rem);
  color: var(--text-tertiary, #d4d4d4);
  line-height: 1.8;
  max-width: 400px;
}
/* 우측 타이틀 텍스트 설정 */
.heading-right-text {
  font-size: clamp(2rem, 4vw, 2.8rem);
  font-weight: 700;
  margin-bottom: 2.5rem;
}
