.accordion-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
}
.accordion-body > * {
  overflow: hidden;
}
.accordion-body.open {
  grid-template-rows: 1fr;
  height: fit-content;
}
.icon-chevron {
  transition: transform 0.2s ease;
}
.accordion-head.open .icon-chevron {
  transform: rotate(180deg);
}
